body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.hover\:bg-gray-50:hover {
    background-color: #f9fafb;
}

.message {
    max-width: 70%;
}

.message.user {
    align-self: flex-end;
    background-color: #4dc0b5;
    color: white;
}

.message.user::after {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #4dc0b5;
}

.message.bot {
    align-self: flex-start;
    background-color: #e5e7eb;
}

#typing-indicator {
    margin-top: -24px; /* Adjust this value as needed */
    padding: 8px;
    background-color: #f3f4f6;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#typing-indicator p {
    margin-left: 8px;
    font-size: 14px;
    color: #6b7280;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
